<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.doma.cloud.cron</string>
  <key>WorkingDirectory</key>
  <string>__DOMA_ROOT__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__DOMA_ROOT__/scripts/prod/cron-run.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__BUN_DIR__:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>__HOME__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>4</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>12</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>20</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>StandardOutPath</key>
  <string>__DOMA_ROOT__/cron.log</string>
  <key>StandardErrorPath</key>
  <string>__DOMA_ROOT__/cron.log</string>
</dict>
</plist>
